:root {
  --primary-bg: #88b06a;
  --secondary-bg: #ffffff;
  --third-bg: #e5e5e5;
  --font-pm: #929292;
  --font-title: #666666;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #607d8b;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background: var(--secondary-bg);
}

a:hover {
  color: var(--primary-bg);
}
.primary-color {
  color: var(--primary-bg);
  cursor:pointer;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #ffffff;
  transition: 0.1s;
}

.preloader.loaded {
  opacity: 0;
  visibility: hidden;
}

.preloader.loaded .object {
  animation: none;
}

#loading {
  background-color: #ffffff;
}

#loading-center-object {
  width: 200px;
  height: 200px;
  transform: rotate(-135deg);
}

.preloader-body {
  text-align: center;
}

.object {
  border-radius: 50%;
  position: absolute;
  border: 4px solid #fff;
  border-bottom-color: transparent;
  border-right-color: transparent;
  animation: animate 2s infinite;
}

#object_one {
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
}

#object_two {
  top: 65px;
  left: 65px;
  width: 70px;
  height: 70px;
  animation-delay: 0.2s;
}

#object_three {
  top: 55px;
  left: 55px;
  width: 90px;
  height: 90px;
  animation-delay: 0.4s;
}

#object_four {
  top: 45px;
  left: 45px;
  width: 110px;
  height: 110px;
  animation-delay: 0.6s;
}
@keyframes animate {
  50% {
    transform: rotate(360deg) scale(0.8);
  }
}

.boxes {
  background: var(--secondary-bg);
  width: 100%;
  height: 150px;
}

.search {
  margin: 30px auto;
}

.search input {
  display: block;
  margin: 20px auto;
  width: 90%;
  height: 48px;
  border: none;
  background: #ffffff;
  border-radius: 8px;
  padding: 0 20px;
  border: 1px solid #e9e9e9;
  z-index: 3;
}
.search input::placeholder {
  color: #bdbdbd;
}

/* auto complete */
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 5px;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.slider {
  margin: auto;
  width: 90%;
  height: 150px;
  border-radius: 8px;
}
.slider img {
  margin: auto;
  border-radius: 8px;
}

#app {
  background: var(--secondary-bg);
  position: relative;
  width: 480px;
  margin: 0 auto;
  overflow-x: hidden;
  min-height: 100vh;
  padding-bottom: 60px;
}
.navbar {
  width: 480px;
  position: fixed;
  bottom: 0;
  display: block;
  background-color: var(--primary-bg);
}
.nav-home {
  padding: 15px 20px;
}
h3.page-title {
  font-weight: bold;
  padding: 15px 10px;
}
.menu-wrapper {
  margin: 10px;
}
.menu-section-title {
  width: 100%;
  padding: 0 10px;
  font-weight: bold;
  border-radius: 5px;
}
.menu-name {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.menu-list {
  padding-bottom: 100px;
}
.menu.card .card-body {
  padding: 0.5rem;
}
.cart-badge {
  font-size: 0.5em;
  position: absolute;
  bottom: 0;
}
#cart_num_menu.cart-badge {
  font-size: 0.5em;
  position: absolute;
  bottom: 15px;
}

.btn-success {
  background-color: var(--primary-bg);
  border-color: var(--primary-bg);
}
.btn-back {
  font-size: 1.75rem;
  padding: 10px;
}
.button-home {
  margin: auto 10px;
  width: 120px;
  height: 36px;
}

.btn-tambah {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  background-color: var(--primary-bg);
  border: none;
  color: #fff;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 10px #90a7be;
  border-top-left-radius: 100px;
}

.btn-tambah:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#order-btn {
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  width: inherit;
  padding: 15px;
}
#order-btn button {
  font-weight: bold;
}
.btn-cart-action {
  font-size: 0.2rem;
}
.profile-photo {
  width: 80px;
  margin: 0 auto;
}
.profile-photo img {
  width: 80px;
  border-radius: 50%;
}
.acc-name {
  font-weight: bold;
  font-size: 1rem;
}
.loader {
  height: 100vh;
  width: inherit;
  position: fixed;
  top: 0;
}
.spinner-wrapper {
  margin-top: 40vh;
  font-size: 2rem;
}
@media (max-width: 400px) {
  #app,
  .navbar {
    width: 100%;
  }

  .button-home {
    margin: auto 5px;
    width: 120px;
    height: 36px;
  }
}
